{% include "base.html" %}
<style>
    .btn {
      border: green !important;
      background-color: green !important;
    }
</style>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <body>
        {% if request.args.get('edit') %}
            <div class="alert alert-success"> <i class="fas fa-check"></i> Course Added Successfully! </div>
        {% endif %}

        <div class="container custom-container" style="border-color: green; margin-bottom: 5%;">
        <p class=title> <i class="fas fa-pencil-alt"></i> Create and Edit Courses </p>
            <form method="POST" role="form">
            {{ form.hidden_tag() }}

            {{ wtf.form_field(form.numTitle, style="font-size: 20px; width: 80%") }}
            {{ wtf.form_field(form.desc, style="font-size: 20px; width: 80%; height: 180px") }}
            {{ wtf.form_field(form.profName, style="font-size: 20px; width: 80%") }}
            {{ wtf.form_field(form.days, style="font-size: 20px; width: 80%") }}
            <div class="row">
                <div class="col-2 offset-1">
                    {{ wtf.form_field(form.numCredits, style="font-size: 20px; width: 60px") }}
                </div>
                <div class="col-3">
                    {{ wtf.form_field(form.roomNum, style="font-size: 20px") }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.time, style="font-size: 20px; width: 300px") }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save & Finish</button>
            </form>
        </div>
      <div class="BackButton">
          <button type="button" class="btn btn-lg btn-primary"><a style="color:white" href="{{ url_for('courses', uid=current_user.id, view='True') }}">View Courses</a></button>
      </div>
    </body>
{% endblock %}
