{% include "base.html" %}

<style>
  div.col { text-align: center; }
  div.row { margin: 5% 10% 5% 10%; }
</style>

  {% block content %}
  <div class="container" style="width: 80%">
    <div class="row">
      <div class="col">
        <a class="homepage" href="{{ url_for('profile', uid=current_user.id) }}">
          <i class="fas fa-user"></i>
          <p class="homepage">Profile</p>
        </a>
          <p>View and customize your profile</p>
      </div>
      <div class="col">
        <a class="homepage" href="{{ url_for('courses') }}">
          <i class="fas fa-th-list"></i>
          <p class="homepage">Course Selection</p>
        </a>
          <p>Select courses to enroll in or withdraw from</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="homepage" href="{{ url_for('schedule', uid=current_user.id) }}">
          <i class="fas fa-clock"></i>
          <p class="homepage">View Schedule</p>
        </a>
          <p>View your current schedule</p>
      </div>
      {% if current_user.userType == "Teacher" %}
        <div class="col">
          <a class="homepage" href="{{ url_for('ccreation', cid=0) }}">
            <i class="fas fa-plus"></i>
            <p class="homepage">Create Courses</p>
          </a>
            <p>Create and edit courses</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
